@import "colors";

@function get-color($theme, $color, $opacity) {
  $themed-colors: map-get($colors, $theme);
  $color: map-get($themed-colors, $color);
  @return change-color($color, $alpha: $opacity);
}

@function rgba-to-rgb($rgba, $background: #fff) {
  @return mix(rgb(red($rgba), green($rgba), blue($rgba)), $background, alpha($rgba) * 100%);
}

$themed-elements: (
  "light": (
    "background": rgba-to-rgb(get-color("light", "black", 0.05)),
    "text-primary": get-color("light", "black", 1),
    "text-secondary": get-color("light", "black", 0.6),
    "toolbar": get-color("light", "white", 1),
  ),
  "dark": (
    "background": get-color("dark", "black", 1),
    "text-primary": get-color("dark", "white", 1),
    "text-secondary": get-color("dark", "white", 0.6),
    "toolbar": rgba-to-rgb(get-color("dark", "white", 0.05), get-color("dark", "black", 1)),
  ),
);

@function get-element-color($theme, $element) {
  $elements: map-get($themed-elements, $theme);
  @return map-get($elements, $element);
}
