@font-face {
  font-family: Rostelecom Basis;
  src: url("regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: Rostelecom Basis;
  src: url("medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: Rostelecom Basis;
  src: url("bold.woff2") format("woff2");
  font-weight: 600;
}
